{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reccos</title>
    <link href="{% static 'market/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'market/css/material.css' %}" rel="stylesheet"/>
    <link href="{% static 'market/css/font-awesome.min.css' %}" rel="stylesheet">
    <meta name="description" content="Useful and fun applications with quality.">
    <meta name="author" content="Reccos">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="#29b6f6">
    <meta name="google-site-verification" content="2UUz8GiOgKqRZK5wiOw5VU700bSVCbzUtadaEo0B6dM" />
    <link rel="icon"
      type="image/png"
      href="{% static 'market/img/favicon.png' %}">
    {% block head %}
    {% endblock %}
</head>
<body style="margin-bottom: 24px">
    <div id="blue_bg"></div>
    <header>
      <a href="/">
        <img src="{% static 'market/img/logo.png' %}" class="logo" />
      </a>
        <div id="quick_card" class="card">
            <h1 id="name">
                {% block title %}
                {% endblock %}
            </h1>
            <h2 id="description">
                {% block description %}
                {% endblock %}
            </h2>
        </div>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
