{% extends 'market/base.html' %}
{% load staticfiles %}
{% block title %}
Reccos
{% endblock %}
{% block description %}
item details
{% endblock %}
{% block main %}
<div id="about_card" class="card">
    <section class="tab">
        <div class="title" style="margin-bottom: 16px">{{ item.product }}</div>
        <div class="content">
            <section class="element">
                <div class="name">{{ item.type }} - {{ item.brand }}</div>
                <div class="info">
                    <p>$ {{ item.price }}</p>
                    <i>Uploaded by {{ item.user }}</i>
                </div>

                <a href="edit" style="float: right; margin-bottom: 8px">
                    <button type="button" class="mdl-button">
                        Edit
                    </button>
                </a>
            </section>
        </div>
    </section>
</div>
<a href="edit" id="fab" style="cursor: pointer">
    <i class="material-icons md-24 vertical-align-middle padding-bottom-4">edit</i>
</a>
{% endblock %}
