{% extends 'market/base.html' %}
{% load staticfiles %}
{% block main %}
<div id="about_card" class="card">
    <section class="tab">
        <div class="title">Items</div>
        <div class="content">
            <section class="element">
                <div class="name">{{ item.product }}</div>
                <div class="info">
                    <p>$ {{ item.price }}</p>
                    <p>Uploaded by {{ item.user }}</p>
                    <p><a href="/item/{{ item.id }}">Learn more</a></p>
                </div>
            </section>
            <hr align="left">
        </div>
    </section>
</div>
{% endblock %}