{% extends 'market/base.html' %}
{% load staticfiles %}
{% block title %}
Reccos
{% endblock %}
{% block description %}
meh
{% endblock %}
{% block main %}
<div>
    <div id="about_card" class="card">
        <section class="tab">
            <div class="title">Items</div>
            <div class="content">
                {% for item in items %}
                <section class="element">
                    <a href="/item/{{ item.id }}">
                        <div class="name">{{ item.product }}</div>
                    </a>
                    <div class="info">
                        <p>$ {{ item.price }}</p>
                        <p>Uploaded by {{ item.user }}</p>
                        <p></p>
                    </div>
                </section>
                <hr align="left">
                {% endfor %}
            </div>
        </section>
    </div>
    <a href="new" id="fab" style="cursor: pointer">
        <i class="material-icons md-24 vertical-align-middle padding-bottom-4">add</i>
    </a>
</div>
{% endblock %}
