{% extends 'market/base.html' %}
{% load staticfiles %}
{% block title %}
New item
{% endblock %}
{% block description %}
Probably uploaded
{% endblock %}
{% block main %}
<div>
    <div id="about_card" class="card">
        <section class="tab">
            <div class="title">{{ form.id }} has been uploaded</div>
            <div class="content">
                <section class="element">
                    <div class="name">ok thx</div>
                </section>
                <hr align="left">
            </div>
        </section>
    </div>
</div>
{% endblock %}